@import "https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap";

html {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.game {
  position: absolute;
  font-family: "Heebo", sans-serif;
  font-size: 100%;
  margin-left: 15%;
  margin-top: 10%;
  color: pink;
}
