@import "https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap";

html {
  overflow: hidden;
}

.game {
  font-family: "Heebo", sans-serif;
  font-size: 1.5vw;
  text-align: center;
  position: absolute;
  top: 27%;
  left: 33%;
  width: 33%;
}

.correct {
  position: absolute;
  right: 10%;
  bottom: 10%;
  z-index: -10;
}

.incorrect {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: -10;
}

.invisible {
  display: none;
}

button {
  font-size: 1.5vw;
  margin: 1%;
}
